.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-light);
    background-color: transparent;
  }
}
